In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('review.csv')

In [3]:
data.shape

(3594, 4)

In [4]:
data.drop(columns=['Unnamed: 3'],inplace=True)

In [21]:
data.head()

,contributions,title,review
0,39,Our NYC Go To!,When visiting New York City| we choose to stay...
1,70,Great Central Location,Stayed here 4 nights with the family checking ...
2,1,another great experience in NYC!,Our second visit to Hotel Giraffe this year wa...
3,15,Great hotel| fantastic location,We stayed for 7 days| business and leisure tri...
4,5,perfect stay in NYC,this hotel is perfect| well located| just 2 bl...

In [23]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [25]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/aayush/nltk_data...

True

In [26]:
analyzer = SentimentIntensityAnalyzer()

In [29]:
data['neg'] = data['review'].apply(lambda x:analyzer.polarity_scores(x)['neg'])
data['neu'] = data['review'].apply(lambda x:analyzer.polarity_scores(x)['neu'])
data['pos'] = data['review'].apply(lambda x:analyzer.polarity_scores(x)['pos'])
data['compound'] = data['review'].apply(lambda x:analyzer.polarity_scores(x)['compound'])

In [30]:
data.head()

,contributions,title,review,neg,neu,pos,compound
0,39,Our NYC Go To!,When visiting New York City| we choose to stay...,0.000,0.955,0.045,0.2732
1,70,Great Central Location,Stayed here 4 nights with the family checking ...,0.000,0.937,0.063,0.8400
2,1,another great experience in NYC!,Our second visit to Hotel Giraffe this year wa...,0.000,0.872,0.128,0.5719
3,15,Great hotel| fantastic location,We stayed for 7 days| business and leisure tri...,0.030,0.802,0.168,0.8803
4,5,perfect stay in NYC,this hotel is perfect| well located| just 2 bl...,0.048,0.758,0.194,0.6997

In [35]:
pos_review = [ j for i,j in enumerate(data['review']) if data['compound'][i] > 0.2]
neu_review = [ j for i,j in enumerate(data['review']) if 0.2>=data['compound'][i] >= -0.2]
neg_review = [ j for i,j in enumerate(data['review']) if data['compound'][i] < -0.2]

In [37]:
print("Percentage of Positive Review: {}%".format(len(pos_review)*100/len(data['review'])))
print("Percentage of Neutral Review: {}%".format(len(neu_review)*100/len(data['review'])))
print("Percentage of Negative Review: {}%".format(len(neg_review)*100/len(data['review'])))

Percentage of Positive Review: 98.05230940456316%
Percentage of Neutral Review: 1.001669449081803%
Percentage of Negative Review: 0.9460211463550362%